body {
  background-color: #5b77d6;
}
.F_topic_main {
  background-color: #fff;
  z-index: 2;
  position: fixed;
  width: 100%;
  top: 0;
}
.F_addtopic_header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 1.867rem;
  background-color: #ffffff;
  box-shadow: 0rem 0.08rem 0.279rem 0.041rem #6f6d6d;
}
.F_hunt {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.F_hunt_i {
  left: 0.5rem;
  position: absolute;
}
.F_hunt_in {
  border: 0;
  width: 84%;
  height: 1rem;
  background-color: #c8ffff;
  border-radius: 0.2rem;
  padding-left: 1rem;
}
.F_topic_text {
  margin-top: 2rem;
}
.F_label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 1.1rem;
}
.F_minlabel {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 2rem;
  height: 0.667rem;
  background-color: #baa2f0;
  margin-left: 0.3rem;
}
.F_theme {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2rem;
  margin-bottom: 0.05rem;
  background-color: #fff;
}
.F_theme img {
  width: 1.347rem;
  height: 1.16rem;
}
.F_theme_img {
  width: 1.347rem;
  height: 1.16rem;
}
.F_theme_text {
  margin-left: 0.4rem;
  width: 5.2rem;
}
.F_theme_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.213rem;
  height: 0.853rem;
  background: #c8ffff;
  border-radius: 0.1rem;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.867rem;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.F_footer_rab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 0.8rem;
  border: 0.02rem solid #c8ffff;
  border-top: 0;
}
.F_footer_che {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 0.8rem;
  background-color: #c8ffff;
}
